@keyframes spin {
  10% {
    transform: rotateY(36deg);
  }
  20% {
    transform: rotateY(72deg);
  }
  30% {
    transform: rotateY(108deg);
  }
  40% {
    transform: rotateY(144deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(216deg);
  }
  70% {
    transform: rotateY(252deg);
  }
  80% {
    transform: rotateY(288deg);
  }
  90% {
    transform: rotateY(324deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes arch {
  0% {
    transform: rotate(0deg) translateY(20px);
  }
  25% {
    transform: rotate(90deg) translateY(40px);
  }
  50% {
    transform: rotate(180deg) translateY(60px);
  }
  75% {
    transform: rotate(270deg) translateY(40px);
  }
  100% {
    transform: rotate(360deg) translateY(20px);
  }
}

@keyframes grow {
  0%,
  100% {
    transform: scale(0.5);
  }
  25%,
  75% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes upRight {
  0%,
  100% {
    transform: translateX(0px) translateY(0px) rotate(-65deg);
  }
  50% {
    transform: translateX(30px) translateY(-30px) rotate(-65deg);
  }
}

@keyframes downRight {

  0%,
  100% {
    transform: translateX(0px) translateY(0px);
  }

  50% {
    transform: translateX(-30px) translateY(-30px);
  }
}

@keyframes floatFromRight {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(5px);
  }
}

/* The typing effect for h1*/
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: $secAccent;
  }
}