.contact {
  background-color: $lightest;
  margin-bottom: 100px;
  h2 {
    color: $darkest;
  }
  a:hover {
    color: $primAccent;
  }
}

.contactFlexCont {
  @include flexbox ();
  padding: 100px 0;
}

.contactInfo {
  width: 60%;
  h2 {
    margin: 15px 0;
  }
  p {
    margin: 5px 0;
  }
}

.footerLogo {
  width: 20%;
}

.moreContact {
  width: 25%;
  display: flex;
  align-items: center;
}

.email,
.appointment {
  padding-left: 45px;
}

.socialsNav {
  @include flexbox();
  padding-left: 45px;
  a {
    font-size: 0.9rem;
  }
}

.contactTextCont {
  position: relative;
}

.socialsNav:before,
.appointment:before {
    content: "";
    width: 20px;
    height: 1.5px;
    background-color: $secLightest;
    position:absolute;
}

.socialsNav:before {
  left: 0px;
  top: 33px;
}

.appointment:before {
  left: 0px;
  top: 88px;
}

h5 {
  text-transform: uppercase;
  @include fontStyle (0.5rem, $secLightest);
  margin-top: 15px;
}

.blogLink {
  text-decoration: underline;
}

form {
  @include flexbox(center);
  width: 75%;
  margin: 0 auto;
  padding-bottom: 20px;
  .name,
  .formEmail {
    width: calc(50% - 7.5px);
  }
  .name {
    margin-right: 15px;
  }
  .message {
    width: 100%;
    margin: 15px 0;
  }
  input,
  textarea {
    width: 100%;
    background-color: $tertAccent;
    border: $darkest solid 1px;
  }
}

.send {
  border: none;
  @include buttonStyle;
  width: 175px;
}

.send:hover {
  background-color: $primAccent;
}

form {
  position: relative;
  input,
  textarea {
    position: relative;
    z-index: 10;
  }
}

.squigglesPurpleFooter {
  position: absolute;
  z-index: 0;
  left: -40px;
  bottom: 60px;
  width: 20%;
}