.about,
.skills,
.portTextCont,
.gvText,
.project2,
.project3,
.contactFlexCont {
  position: relative;
}

.circleBlueAbout {
  position: absolute;
  width: 5%;
  right: 9%;
  bottom: 270px;
  animation: grow 10s linear infinite;
}

.diamondPurpleAbout {
  position: absolute;
  width: 15%;
  right: -6%;
  bottom: 55px;
  animation: spin 10s linear infinite;
}

.squigglePinkAbout {
  position: absolute;
  width: 15%;
  left: 11%;
  bottom: -15px;
  animation: upRight 10s linear infinite;
}

//removed because skills are now balanced
// .squiggleBlueSkills {
//   position: absolute;
//   bottom: 0;
//   right: 10%;
//   width: 20%;
//   animation: downRight 8s linear infinite;
// }


.trianglePinkPortfolio {
  position: absolute;
  bottom: -5px;
  left: 10%;
  width: 13%;
  z-index: 10;
  transform: rotateX(15deg);
  animation: spin 10s linear infinite;
}

.circlePurplePortfolio {
  position: absolute;
  right: 0;
  top:56px;
  width: 5%;
  animation: grow 10s linear infinite;
}

.squigglePurplePortfolio {
  position: absolute;
  right: 40%;
  top: 38px;
  width: 15%;
  animation: downRight 8s linear infinite;
}

.trianglePinkPortfolio2 {
  position: absolute;
  right: 60%;
  top: 0px;
  width: 15%;
  animation: arch 15s linear infinite;
}

.squiggleBlueFooter {
  position: absolute;
  top: -24px;
  right: 55%;
  width: 15%;
  animation: upRight 8s linear infinite;
}

.trianglePinkFooter {
  position: absolute;
  top: 30px;
  right: 136px;
  width: 7%;
  animation: arch 15s linear infinite;
}

.circlePurpleFooter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 5%;
  animation: grow 10s linear infinite;
}

.toTop {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  animation: bounce 1s linear infinite;
  i {
    @include fontStyle(2rem, $tertAccent);
  }
}