@media (max-width: 1000px) {
  .heroImage {
    height: 400px;
  }
}

@media (max-width: 750px) {
  .heroImage {
    height: 300px;
  }

  h1 {
    margin-top: 10%;
  }

  .imgContSkate img {
    top: 25%;
  }

  .skateTitle {
    top: 48%;
  }

  .portfolio {
    padding-top: 90px;
  }

  .contactInfo,
  .moreContact {
    width: 45%;
  }

  .moreContact {
    padding-top: 56px;
  }


}

@media (max-width: 600px){
  .wrapper {
    width: 95%;
  }

  .logoFlexCont {
    margin-top: 5px;
  }

  // change nav to hamburger
  .flexContNav {
    flex-direction: column;
    li {
      padding: 7px;
    }
    a:hover{
      color: $secAccent;
    }
  }

  // styles for when ham menu shows
  .menuShow {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: $tertAccent;
    border-radius: 10px;
    z-index: 5;
  }

  // hides ham nav
  .menuHidden {
    display: none;
  }

  // ham nav open/close button
  .show {
    display: block;
    z-index: 10;
  }
  .close {
    display: none;
  }

  .heroImage {
    background-image: url(../assets/Hero-Mobile.jpg);
    background-size: cover;
    margin-top: 25px;
  }

  .heroContents {
    padding-top: 35px;
  }

  .outterContDev {
    margin: 0 0 0 auto;
    width: 50%;
    a {
      right: 0;
      top: -55px;
    }
  }

  .aboutTextCont {
    width: 100%;
  }

  .imgContSkate {
    width: 50%;
    img {
      position: relative;
      top: 0;
    }
  }

  .imgContDev img {
    top: -26px;
  }

  .skillsFlexCont {
    justify-content: space-around;
  }

  .skillsTextCont {
    margin-left: 10%;
    margin-bottom: 20px;
  }

  .goodVibeDT {
    left: 0;
    width: 60%;
  }

  .blueDots {
    right: 0;
    width: 45%;
  }

  .helperDT {
    top: 46px;
    right: 0;
  }

  .purpleSquiggles {
    right: -2%;
  }

}

@media (max-width: 500px) {
  .skillsInnerFlexCont i {
    font-size: 50px;
  }

  .skillLogo {
    width: 50px;
  }

  .contactInfo {
    width: 80%;
    margin: 0 auto;
  }

  .moreContact {
    width: 56%;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  header h2 {
    text-align: right;
    margin-right: 3%;
  }

  .aboutTextCont p {
    margin-left: 10px;
  }

  .imgContSkate p {
    display: none;
  }

  .skillsTextCont {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .portTextCont {
    width: 100%;
  }

  .blueDots {
    top: -32px;
  }
  
  .purpleSquiggles {
    bottom: -11px;
  }
}
