.portfolio {
  padding-top: 100px;
}

.portCont {
  p {
    color: $secLightest;
  }
  a:hover {
    @include anchorHover;
  }
}

.portTextCont {
  width: 50%;
  padding-bottom: 50px;
  h4 {
    padding-bottom: 20px;
  }
}

.portAnchors {
  @include flexbox (flex-start);
}

.projectTextCont {
  padding-top: 40px;
  h4 {
    padding: 20px 0;
  }
  li {
    padding: 30px 30px 30px 0;
  }
}

.builtWith {
  text-transform: uppercase;
}

.pinkBG {
  width: 100%;
}

.project1,
.project2,
.project3 {
  position: relative;
}

.blueDots {
  position: absolute;
  z-index: -1;
  top: -152px;
  right: -26px;
}

.goodVibeDT {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: -80px;
  width: 70%;
}

.project2,
.project3 {
  padding-top: 75px;
}

.purpleSquiggles {
  position: absolute;
  z-index: 1;
  bottom: -42px;
  right: -49px;
  width: 25%;
}

.helperDT {
  position: absolute;
  z-index: 1;
  top: 135px;
  right: -8%;
  width: 50%;
  box-shadow: 1px 1px 50px $secLightest;
}


