// variables
// colors
$lightest: #f1f2f4;
$secLightest: #787787;
$primAccent: #4807db;
$secAccent: #fb37bf;
$tertAccent: #00e3ff;
$darkest: #06032f;

// fonts
// $header: ;
// 600 and 700
$main: 'Josefin Sans', sans-serif;


// mixins
@mixin flexbox (){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin fontStyle ($size, $color:$darkest, $height:1rem, $space:1.3px){
  font-size: $size;
  color: $color;
  line-height: $height;
  letter-spacing: $space;
}

// imports
@import "setup";
@import "header";
@import "skills";
@import "about";