// variables
// colors
$lightest: #f1f2f4;
$secLightest: #787787;
$primAccent: #4807db;
$secAccent: #fb37bf;
$tertAccent: #00e3ff;
$darkest: #06032f;

// fonts
// $header: ;
// 600 and 700
$main: 'Josefin Sans', sans-serif;


// mixins
@mixin flexbox ($justCont:space-between, $direction:row, $wrap:wrap) {
  display: flex;
  justify-content: $justCont;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin fontStyle ($size, $color:$darkest, $height:1rem, $space:1.3px){
  font-size: $size;
  color: $color;
  line-height: $height;
  letter-spacing: $space;
}

@mixin anchorHover () {
  border-bottom: 1.5px solid $tertAccent;
}

@mixin buttonStyle {
  color: $lightest;
  background-color: $secAccent;
  font-size: 0.75rem;
  padding: 10px;
  border-radius: 20px;
  border-bottom: $primAccent 2px solid;
  box-shadow: 1px 2px $secAccent;
}

@mixin buttonActive {
  box-shadow: none;
  position: relative;
  top: 2px;
}

// imports
@import "setup";
@import "decorations";
@import "header";
@import "skills";
@import "about";
@import "portfolio";
@import "contact";
@import "media";
@import "animations";