html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1150px;
  width: 85%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
p,
h2,
h3,
h4,
h5,
button,
input,
textarea {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

p,
a {
  font-size: 0.6rem;
  color: #06032f;
  line-height: 1rem;
  letter-spacing: 1.3px;
}

h3 {
  font-size: 0.7rem;
  color: #4807db;
  line-height: 1rem;
  letter-spacing: 1.3px;
  padding-bottom: 8px;
}

h4 {
  font-size: 1.5rem;
  color: #06032f;
  line-height: 1.6rem;
  letter-spacing: 1.3px;
}

.about,
.skills,
.portTextCont,
.gvText,
.project2,
.project3,
.contactFlexCont {
  position: relative;
}

.circleBlueAbout {
  position: absolute;
  width: 5%;
  right: 9%;
  bottom: 270px;
  -webkit-animation: grow 10s linear infinite;
          animation: grow 10s linear infinite;
}

.diamondPurpleAbout {
  position: absolute;
  width: 15%;
  right: -6%;
  bottom: 55px;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.squigglePinkAbout {
  position: absolute;
  width: 15%;
  left: 11%;
  bottom: -15px;
  -webkit-animation: upRight 10s linear infinite;
          animation: upRight 10s linear infinite;
}

.squiggleBlueSkills {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 20%;
  -webkit-animation: downRight 8s linear infinite;
          animation: downRight 8s linear infinite;
}

.trianglePinkPortfolio {
  position: absolute;
  bottom: -5px;
  left: 10%;
  width: 13%;
  z-index: 10;
  -webkit-transform: rotateX(15deg);
          transform: rotateX(15deg);
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.circlePurplePortfolio {
  position: absolute;
  right: 0;
  top: 56px;
  width: 5%;
  -webkit-animation: grow 10s linear infinite;
          animation: grow 10s linear infinite;
}

.squigglePurplePortfolio {
  position: absolute;
  right: 40%;
  top: 38px;
  width: 15%;
  -webkit-animation: downRight 8s linear infinite;
          animation: downRight 8s linear infinite;
}

.trianglePinkPortfolio2 {
  position: absolute;
  right: 60%;
  top: 0px;
  width: 15%;
  -webkit-animation: arch 15s linear infinite;
          animation: arch 15s linear infinite;
}

.squiggleBlueFooter {
  position: absolute;
  top: -24px;
  right: 55%;
  width: 15%;
  -webkit-animation: upRight 8s linear infinite;
          animation: upRight 8s linear infinite;
}

.trianglePinkFooter {
  position: absolute;
  top: 30px;
  right: 136px;
  width: 7%;
  -webkit-animation: arch 15s linear infinite;
          animation: arch 15s linear infinite;
}

.circlePurpleFooter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 5%;
  -webkit-animation: grow 10s linear infinite;
          animation: grow 10s linear infinite;
}

.toTop {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
}
.toTop i {
  font-size: 2rem;
  color: #00e3ff;
  line-height: 1rem;
  letter-spacing: 1.3px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.logoFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logoFlexCont p {
  text-transform: uppercase;
  padding-top: 2px;
}

.logoImg {
  height: 20px;
  margin-right: 8px;
}

.flexContNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexContNav li {
  padding: 0 15px;
  position: relative;
}
.flexContNav a {
  font-size: 0.8rem;
}
.flexContNav .contactLi {
  padding-right: 0;
}
.flexContNav li:after {
  content: "";
  width: 75%;
  height: 8px;
  background-color: transparent;
  position: absolute;
  bottom: 5px;
  left: 25%;
  z-index: -1;
}
.flexContNav li:hover:after {
  background-color: #00e3ff;
}

.hamButton {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 17px;
  right: 33px;
}
.hamButton i {
  color: #06032f;
}

.hamButton:hover i {
  color: #fb37bf;
}

.show {
  display: none;
}

.heroImage {
  background-image: url(../assets/Hero-NoText.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.heroContents {
  padding-top: 25px;
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  color: #f1f2f4;
  line-height: 1rem;
  letter-spacing: 1.3px;
  margin: 200px 0 27px 0;
}

h2 {
  font-size: 1rem;
  color: #f1f2f4;
  line-height: 1rem;
  letter-spacing: 1.3px;
  margin-left: 66px;
  margin-bottom: 25px;
  font-weight: 600;
}

.learnMore {
  color: #f1f2f4;
  background-color: #fb37bf;
  font-size: 0.75rem;
  padding: 10px;
  border-radius: 20px;
  border-bottom: #4807db 2px solid;
  -webkit-box-shadow: 1px 2px #fb37bf;
          box-shadow: 1px 2px #fb37bf;
}

.learnMore:hover {
  background-color: #00e3ff;
  color: #06032f;
}

.learnMore:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 2px;
}

.skills {
  padding-top: 125px;
}

.skillsTextCont {
  margin-left: 18%;
  margin-bottom: 30px;
}

.skillsFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsInnerFlexCont {
  width: 28%;
  text-align: center;
  margin: 25px 0;
}
.skillsInnerFlexCont i {
  font-size: 100px;
  color: #4807db;
}

.skillLogo {
  width: 100px;
  margin: 0 auto;
}

.about {
  margin-top: 60px;
  background-color: #f1f2f4;
}

.aboutFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0 15px 0;
}

.aboutInnerFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutTextCont {
  width: 55%;
  position: relative;
}
.aboutTextCont p {
  margin: 10px 0 10px 40px;
  color: #787787;
}

.aboutOne:before {
  content: "";
  width: 2px;
  height: 95px;
  background-color: #787787;
  position: absolute;
  left: 0px;
}

.imgContSkate {
  width: 40%;
  position: relative;
}
.imgContSkate img {
  position: absolute;
  top: -63px;
  left: 20px;
}

.imgSkateEnter {
  -webkit-animation: floatFromRight 1.5s 1;
          animation: floatFromRight 1.5s 1;
}

.skateTitle {
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 0.5rem;
  left: -107px;
  top: 43px;
  color: #787787;
}

.outterContDev {
  margin: 0 auto;
  width: 50%;
  position: relative;
}
.outterContDev a {
  position: absolute;
  right: -110px;
  bottom: 20%;
  border-bottom: 1px solid transparent;
}
.outterContDev a:hover {
  border-bottom: 1.5px solid #00e3ff;
}

.imgContDev {
  position: relative;
}
.imgContDev img {
  position: relative;
  top: 50px;
  -webkit-box-shadow: 1px 1px 50px #787787;
          box-shadow: 1px 1px 50px #787787;
}

.portfolio {
  padding-top: 175px;
}

.portCont p {
  color: #787787;
}
.portCont a:hover {
  border-bottom: 1.5px solid #00e3ff;
}

.portTextCont {
  width: 50%;
  padding-bottom: 50px;
}
.portTextCont h4 {
  padding-bottom: 20px;
}

.portAnchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectTextCont {
  padding-top: 40px;
}
.projectTextCont h4 {
  padding: 20px 0;
}
.projectTextCont li {
  padding: 30px 30px 30px 0;
}

.builtWith {
  text-transform: uppercase;
}

.pinkBG {
  width: 100%;
}

.project1,
.project2,
.project3 {
  position: relative;
}

.blueDots {
  position: absolute;
  z-index: -1;
  top: -152px;
  right: -26px;
}

.goodVibeDT {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: -80px;
  width: 70%;
}

.project2,
.project3 {
  padding-top: 75px;
}

.purpleSquiggles {
  position: absolute;
  z-index: 1;
  bottom: -42px;
  right: -49px;
  width: 25%;
}

.helperDT {
  position: absolute;
  z-index: 1;
  top: 135px;
  right: -8%;
  width: 50%;
  -webkit-box-shadow: 1px 1px 50px #787787;
          box-shadow: 1px 1px 50px #787787;
}

.contact {
  background-color: #f1f2f4;
  margin-bottom: 100px;
}
.contact h2 {
  color: #06032f;
}
.contact a:hover {
  color: #4807db;
}

.contactFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.contactInfo {
  width: 60%;
}
.contactInfo h2 {
  margin: 15px 0;
}
.contactInfo p {
  margin: 5px 0;
}

.footerLogo {
  width: 20%;
}

.moreContact {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email,
.appointment {
  padding-left: 45px;
}

.socialsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 45px;
}
.socialsNav a {
  font-size: 0.9rem;
}

.contactTextCont {
  position: relative;
}

.socialsNav:before,
.appointment:before {
  content: "";
  width: 20px;
  height: 1.5px;
  background-color: #787787;
  position: absolute;
}

.socialsNav:before {
  left: 0px;
  top: 33px;
}

.appointment:before {
  left: 0px;
  top: 88px;
}

h5 {
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #787787;
  line-height: 1rem;
  letter-spacing: 1.3px;
  margin-top: 15px;
}

.blogLink {
  text-decoration: underline;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 20px;
}
form .name,
form .formEmail {
  width: calc(50% - 7.5px);
}
form .name {
  margin-right: 15px;
}
form .message {
  width: 100%;
  margin: 15px 0;
}
form input,
form textarea {
  width: 100%;
  background-color: #00e3ff;
  border: #06032f solid 1px;
}

.send {
  border: none;
  color: #f1f2f4;
  background-color: #fb37bf;
  font-size: 0.75rem;
  padding: 10px;
  border-radius: 20px;
  border-bottom: #4807db 2px solid;
  -webkit-box-shadow: 1px 2px #fb37bf;
          box-shadow: 1px 2px #fb37bf;
  width: 175px;
}

.send:hover {
  background-color: #4807db;
}

.send:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 2px;
}

form {
  position: relative;
}
form input,
form textarea {
  position: relative;
  z-index: 10;
}

.squigglesPurpleFooter {
  position: absolute;
  z-index: 0;
  left: -40px;
  bottom: 60px;
  width: 20%;
}

@media (max-width: 1000px) {
  .heroImage {
    height: 400px;
  }

  h1 {
    margin-top: 125px;
  }
}
@media (max-width: 750px) {
  .heroImage {
    height: 300px;
  }

  h1 {
    margin-top: 10%;
  }

  .imgContSkate img {
    top: 25%;
  }

  .skateTitle {
    top: 48%;
  }

  .portfolio {
    padding-top: 90px;
  }

  .contactInfo,
.moreContact {
    width: 45%;
  }

  .moreContact {
    padding-top: 56px;
  }

  .squigglesPurpleFooter {
    display: none;
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 95%;
  }

  .logoFlexCont {
    margin-top: 5px;
  }

  .flexContNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexContNav li {
    padding: 7px;
  }
  .flexContNav a:hover {
    color: #fb37bf;
  }

  .menuShow {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: #00e3ff;
    border-radius: 10px;
    z-index: 5;
  }

  .menuHidden {
    display: none;
  }

  .show {
    display: block;
    z-index: 10;
  }

  .close {
    display: none;
  }

  .heroImage {
    background-image: url(../assets/Hero-Mobile.jpg);
    background-size: cover;
    margin-top: 25px;
  }

  .heroContents {
    padding-top: 35px;
  }

  .outterContDev {
    margin: 0 0 0 auto;
    width: 50%;
  }
  .outterContDev a {
    right: 0;
    top: -55px;
  }

  .aboutTextCont {
    width: 100%;
  }

  .imgContSkate {
    width: 50%;
  }
  .imgContSkate img {
    position: relative;
    top: 0;
  }

  .imgContDev img {
    top: -26px;
  }

  .skillsFlexCont {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .skillsTextCont {
    margin-left: 10%;
    margin-bottom: 20px;
  }

  .goodVibeDT {
    left: 0;
    width: 60%;
  }

  .blueDots {
    right: 0;
    width: 45%;
  }

  .helperDT {
    top: 46px;
    right: 0;
  }

  .purpleSquiggles {
    right: -2%;
  }

  .diamondPurpleAbout {
    right: 20%;
    bottom: -32px;
  }

  .circleBlueAbout {
    bottom: 370px;
  }
}
@media (max-width: 500px) {
  .skillsInnerFlexCont i {
    font-size: 50px;
  }

  .skillLogo {
    width: 50px;
  }

  .contactInfo {
    width: 80%;
    margin: 0 auto;
  }

  .moreContact {
    width: 56%;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  header h2 {
    text-align: right;
    margin-right: 3%;
  }

  .aboutTextCont p {
    margin-left: 10px;
  }

  .imgContSkate p {
    display: none;
  }

  .skillsTextCont {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .portTextCont {
    width: 100%;
  }

  .blueDots {
    top: -32px;
  }

  .purpleSquiggles {
    bottom: -11px;
  }

  .circleBlueAbout {
    bottom: 30%;
  }

  .squiggleBlueFooter {
    top: -2px;
  }

  .trianglePinkFooter {
    right: 70px;
  }
}
@-webkit-keyframes spin {
  10% {
    -webkit-transform: rotateY(36deg);
            transform: rotateY(36deg);
  }
  20% {
    -webkit-transform: rotateY(72deg);
            transform: rotateY(72deg);
  }
  30% {
    -webkit-transform: rotateY(108deg);
            transform: rotateY(108deg);
  }
  40% {
    -webkit-transform: rotateY(144deg);
            transform: rotateY(144deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(216deg);
            transform: rotateY(216deg);
  }
  70% {
    -webkit-transform: rotateY(252deg);
            transform: rotateY(252deg);
  }
  80% {
    -webkit-transform: rotateY(288deg);
            transform: rotateY(288deg);
  }
  90% {
    -webkit-transform: rotateY(324deg);
            transform: rotateY(324deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes spin {
  10% {
    -webkit-transform: rotateY(36deg);
            transform: rotateY(36deg);
  }
  20% {
    -webkit-transform: rotateY(72deg);
            transform: rotateY(72deg);
  }
  30% {
    -webkit-transform: rotateY(108deg);
            transform: rotateY(108deg);
  }
  40% {
    -webkit-transform: rotateY(144deg);
            transform: rotateY(144deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(216deg);
            transform: rotateY(216deg);
  }
  70% {
    -webkit-transform: rotateY(252deg);
            transform: rotateY(252deg);
  }
  80% {
    -webkit-transform: rotateY(288deg);
            transform: rotateY(288deg);
  }
  90% {
    -webkit-transform: rotateY(324deg);
            transform: rotateY(324deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes arch {
  0% {
    -webkit-transform: rotate(0deg) translateY(20px);
            transform: rotate(0deg) translateY(20px);
  }
  25% {
    -webkit-transform: rotate(90deg) translateY(40px);
            transform: rotate(90deg) translateY(40px);
  }
  50% {
    -webkit-transform: rotate(180deg) translateY(60px);
            transform: rotate(180deg) translateY(60px);
  }
  75% {
    -webkit-transform: rotate(270deg) translateY(40px);
            transform: rotate(270deg) translateY(40px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(20px);
            transform: rotate(360deg) translateY(20px);
  }
}
@keyframes arch {
  0% {
    -webkit-transform: rotate(0deg) translateY(20px);
            transform: rotate(0deg) translateY(20px);
  }
  25% {
    -webkit-transform: rotate(90deg) translateY(40px);
            transform: rotate(90deg) translateY(40px);
  }
  50% {
    -webkit-transform: rotate(180deg) translateY(60px);
            transform: rotate(180deg) translateY(60px);
  }
  75% {
    -webkit-transform: rotate(270deg) translateY(40px);
            transform: rotate(270deg) translateY(40px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateY(20px);
            transform: rotate(360deg) translateY(20px);
  }
}
@-webkit-keyframes grow {
  0%, 100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  25%, 75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  0%, 100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  25%, 75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes upRight {
  0%, 100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-65deg);
            transform: translateX(0px) translateY(0px) rotate(-65deg);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(-30px) rotate(-65deg);
            transform: translateX(30px) translateY(-30px) rotate(-65deg);
  }
}
@keyframes upRight {
  0%, 100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-65deg);
            transform: translateX(0px) translateY(0px) rotate(-65deg);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(-30px) rotate(-65deg);
            transform: translateX(30px) translateY(-30px) rotate(-65deg);
  }
}
@-webkit-keyframes downRight {
  0%, 100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
  50% {
    -webkit-transform: translateX(-30px) translateY(-30px);
            transform: translateX(-30px) translateY(-30px);
  }
}
@keyframes downRight {
  0%, 100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
  50% {
    -webkit-transform: translateX(-30px) translateY(-30px);
            transform: translateX(-30px) translateY(-30px);
  }
}
@-webkit-keyframes floatFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes floatFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}