html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1150px;
  width: 85%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
p,
h2,
h3,
h4,
button {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

p,
a {
  font-size: 0.6rem;
  color: #06032f;
  line-height: 1rem;
  letter-spacing: 1.3px;
}

h3 {
  font-size: 0.7rem;
  color: #4807db;
  line-height: 1rem;
  letter-spacing: 1.3px;
  padding-bottom: 8px;
}

h4 {
  font-size: 1.5rem;
  color: #06032f;
  line-height: 1.6rem;
  letter-spacing: 1.3px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.logoFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logoFlexCont p {
  text-transform: uppercase;
  padding-top: 2px;
}

.logoImg {
  height: 20px;
  margin-right: 8px;
}

.flexContNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexContNav li {
  padding: 0 15px;
  position: relative;
}
.flexContNav a {
  font-size: 0.8rem;
}
.flexContNav .contactLi {
  padding-right: 0;
}
.flexContNav li:after {
  content: "";
  width: 75%;
  height: 8px;
  background-color: transparent;
  position: absolute;
  bottom: 5px;
  left: 25%;
  z-index: -1;
}
.flexContNav li:hover:after {
  background-color: #00e3ff;
}

.ham {
  position: absolute;
  background-color: transparent;
  width: 10%;
  top: 15px;
  right: 15px;
}
.ham i {
  color: #06032f;
}

.show {
  display: none;
}

.heroImage {
  background-image: url(../assets/Hero-NoText.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.heroContents {
  padding-top: 25px;
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  color: #f1f2f4;
  line-height: 1rem;
  letter-spacing: 1.3px;
  margin: 20% 0 27px 0;
}

h2 {
  font-size: 1rem;
  color: #f1f2f4;
  line-height: 1rem;
  letter-spacing: 1.3px;
  margin-left: 66px;
  margin-bottom: 25px;
  font-weight: 600;
}

.learnMore {
  color: #f1f2f4;
  background-color: #fb37bf;
  font-size: 0.75rem;
  padding: 10px;
  border-radius: 20px;
  border-bottom: #4807db 2px solid;
  -webkit-box-shadow: 1px 2px #fb37bf;
          box-shadow: 1px 2px #fb37bf;
}

.skills {
  padding-top: 125px;
}

.skillsTextCont {
  margin-left: 18%;
  margin-bottom: 30px;
}

.skillsFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsInnerFlexCont {
  width: 28%;
  text-align: center;
  margin: 25px 0;
}
.skillsInnerFlexCont i {
  font-size: 100px;
  color: #4807db;
}

.skillLogo {
  width: 100px;
  margin: 0 auto;
}

.about {
  margin-top: 60px;
  background-color: #f1f2f4;
}

.aboutFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0 15px 0;
}

.aboutInnerFlexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutTextCont {
  width: 55%;
  position: relative;
}
.aboutTextCont p {
  margin: 10px 0 10px 40px;
  color: #787787;
}

.aboutOne:before {
  content: "";
  width: 2px;
  height: 95px;
  background-color: #787787;
  position: absolute;
  left: 0px;
}

.imgContSkate {
  width: 40%;
  position: relative;
}
.imgContSkate img {
  position: absolute;
  top: -63px;
  left: 20px;
}

.skateTitle {
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 0.5rem;
  left: -107px;
  top: 43px;
  color: #787787;
}

.outterContDev {
  margin: 0 auto;
  max-width: 45%;
  position: relative;
}
.outterContDev a {
  position: absolute;
  right: -110px;
  bottom: 20%;
  border-bottom: 1px solid transparent;
}
.outterContDev a:hover {
  border-bottom: 1.5px solid #00e3ff;
}

.imgContDev {
  position: relative;
}
.imgContDev img {
  position: relative;
  top: 50px;
  -webkit-box-shadow: 1px 1px 50px #787787;
          box-shadow: 1px 1px 50px #787787;
}

.portfolio {
  padding-top: 175px;
}

.portCont {
  position: relative;
}
.portCont p {
  color: #787787;
}
.portCont a:hover {
  border-bottom: 1.5px solid #00e3ff;
}

.portTextCont {
  width: 50%;
  position: absolute;
  left: 8.5%;
  top: -45px;
}

.portAnchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proTextCont {
  padding-top: 40px;
  margin-left: 8%;
}
.proTextCont h4 {
  padding: 20px 0;
}
.proTextCont li {
  padding: 30px 30px 30px 0;
}

.builtWith {
  text-transform: uppercase;
}